<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidream.dept.tongtianxia.library.mapper.SubjectMapper">
		
		<resultMap type="com.kidream.dept.tongtianxia.library.domin.Subject" id="subjectMap">
			<id column="id" property="id"/>
			<result column="subject_name" property="subject_name"/>
		</resultMap>
		
		<select id="getSubjectById" resultMap="subjectMap">
			select id,subject_name from subject where id = #{subject_id}
		</select>
		
		<select id="getSubjects" resultMap="subjectMap">
			select id,subject_name from subject
		</select>
</mapper>
